PORT=4000
PG_HOST=127.0.0.1
PG_PORT=5432
PG_USER=slotify_user
PG_PASSWORD=password
PG_DATABASE=slotify_db
# DATABASE_URL=postgresql://slotify_user:password@host:port/slotify_db
DATABASE_URL=postgres://postgres:password@localhost:5432/slotify_db
